body {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 200px;
}

table {
    /* margin-left: auto;
    margin-right: auto; */
    width: 346px;
    height: 337px;
}

.orange {
    width: 290.42px;
    height: 34px;
    background: #F68F39;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: block;
    margin: auto;
}

.button {
    width: 56.97px;
    height: 34px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    font-size: 20px;
    

}

/* td {
    white-space: nowrap;
} */

.textbox {
    background-color: white;
    width: 290.42px;
    height: 52px;
    border-radius: 4px;
    margin: 0px auto;
    font-size:40px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    /* text-align: center; */
    background-color: black;
    border-radius: 20px;
}
